[2016-10-08 19:40] wanderer opened #1 "add async interface"

[2017-12-17 15:31] axic opened #3 "Update to latest EVM-C / EEI"
The latest version of the EVM-C spec can be found here: https://github.com/ethereum/evmjit/blob/develop/include/evm.h

It has 4 data types:
- arbitrary memory buffer
- big endian 256 bit number
- big endian 160 bit number (address)
- host endian 64 bit number (gas, etc.)

The latest version of the EEI spec can be found here: https://github.com/ewasm/design/blob/master/eth_interface.md#data-types

[2017-12-17 16:49] axic opened #7 "Binaryen: properly implement ExternalInterface"
The `ExternalInterface` is the API used to handle memory and call access during executing wasm bytecode. It is defined here: https://github.com/WebAssembly/binaryen/blob/master/src/wasm-interpreter.h#L567-L644

Currently the Hera implementation uses a sample implementation called `ShellExternalInterface` (https://github.com/WebAssembly/binaryen/blob/master/src/shell-interface.h), which handles the

[2018-01-08 16:12] axic opened #12 "Implement each interface method"
- [x] useGas
- [x] getAddress
- [x] getBalance
- [x] getBlockHash
- [x] call
- [x] callDataCopy
- [x] getCallDataSize
- [x] callCode
- [x] callDelegate
- [x] callStatic
- [x] storageStore
- [x] storageLoad
- [x] getCaller
- [x] getCallValue
- [x] codeCopy
- [x] getCodeSize
- [x] getBlockCoinbase
- [x] create
- [x] getBlockDifficulty
- [x] externalCodeCopy
- [x] getExternalCodeSize
- [x] getGasLeft

[2018-01-08 21:02] axic commented on #3
I think we need helpers (the name implies endian translation to/from the host endianness)
- `loadMemory`
- `storeMemory`
- `readUint256`
- `readUint160`
- `readUint128`
- `exceedsUint128` (not sure about naming, a check that the host supplied 256-bit number doesn't have a value exceeding 128 bits)

[2018-01-09 16:22] #7 closed

[2018-01-11 18:54] jakelang opened #32 "EVM-C requires non-const reference to evm_context"
[code]
The evm_context singleton cannot be a constant reference, because EVM-C functions will not accept this.

[2018-01-12 11:34] axic commented on #3
Also realised that `memoryCopy` can be replaced with `storeMemory`.

[2018-01-12 19:31] #3 closed

[2018-01-12 19:47] jakelang commented on #32
now fixed in #37

[2018-01-12 19:47] #32 closed

[2018-01-15 13:17] jwasinger opened #68 "Trying to get the balance of an account that is not the one currently executing returns 0"
Relevant test case:  https://github.com/jwasinger/tests/blob/wasm-tests/src/GeneralStateTestsFiller/stEWASMTests/utils/getBalanceExtFiller.yml

[2018-01-15 17:37] axic opened #70 "Implement the debug namespace"
Should add the same methods as ewasm-kernel: https://github.com/ewasm/ewasm-kernel/blob/master/debugInterface.js

- `print32(value: i32)`
- `print64(value: i64)`
- `printMem(offset: i32, len: i32)` - print memory segment as printable characters
- `printMemHex(offset: i32, len: i32)` - print memory segment as a hex

Should only be enabled in debug mode.

[2018-01-15 17:54] lrettig commented on #70
Already partially working. What do `print32` and `print64` do? Just print the value as hex? As printable chars?

[2018-01-15 18:03] axic commented on #70
I think they could just print both printable and hex at the same time.

[2018-01-15 19:20] axic opened #73 "Enforce the EVM_STATIC modifier in state changing operations"
See https://github.com/ethereum/EIPs/pull/214

[2018-01-15 19:20] axic opened #74 "Charge gas for each interface method properly"
See https://github.com/ethereum/evmjit/blob/develop/libevmjit/JIT.h#L60-L90 for some numbers.

[2018-01-16 01:32] #70 closed

[2018-01-16 14:28] axic commented on #68
@jwasinger can this be closed?

[2018-01-16 15:07] #12 closed

[2018-01-16 15:26] jakelang commented on #74
Working branch: #86

[2018-01-16 17:38] #68 closed

[2018-01-16 18:29] lrettig opened #90 "When calling revert, result.isRevert is being unset"
`result.isRevert` is being set here: https://github.com/ewasm/hera/blob/f369ded3e85fb157ab2bfbd5bea0d8ae809dd963/src/eei.cpp#L399

But when we try to read it here, it is unset: https://github.com/ewasm/hera/blob/f369ded3e85fb157ab2bfbd5bea0d8ae809dd963/src/hera.cpp#L144

[2018-01-16 20:05] #90 closed

[2018-01-16 20:29] jakelang commented on #74
TODO list:
- [] useGas
- [] getAddress
- [] getBalance
- [] getBlockHash
- [] call
- [] callDataCopy
- [] getCallDataSize
- [] callCode
- [] callDelegate
- [] callStatic
- [] storageStore
- [] storageLoad
- [] getCaller
- [] getCallValue
- [] codeCopy
- [] getCodeSize
- [] getBlockCoinbase
- [] create
- [] getBlockDifficulty
- [] externalCodeCopy
- [] getExternalCodeSize
- [] getGasLeft
- [] getBl

[2018-01-17 12:24] #73 closed

[2018-01-22 17:35] axic opened #107 "Update return codes of call*/create"
See https://github.com/ewasm/design/pull/77

[2018-01-23 14:42] axic opened #110 "Add Windows support for binaryen"
See https://github.com/ethereum/cpp-ethereum/commit/7a13f82e84576f0561e5fd11e464d688250c9206

[2018-01-23 14:47] #107 closed

[2018-01-23 20:14] axic opened #114 "Add evm tracing debug method"
Similar to the `evmStackTrace` method in `ewasm-kernel`: https://github.com/ewasm/ewasm-kernel/blob/master/debugInterface.js#L30-L40

It should target to have all the content needed for the tracing format as described here: https://github.com/ethereum/tests/issues/249

I propose the following: `evmTrace(pc: i32, opcode: i32, cost: i32, sp: i32)`

It will then output the following JSON: `{'pc': $pc

[2018-01-23 20:15] axic commented on #114
cc @cdetrio what do you think?

This should be close enough to both what ewasm-kernel does and what the tracing JSON requires.

[2018-01-24 00:30] axic opened #116 "Validate imports prior to execution"
Follow up of #103.

Only known imports with the correct number of arguments (perhaps also the types of arguments) should be accepted.

[2018-01-24 00:34] jakelang commented on #114
shouldn't this be $sp?

[2018-01-24 16:03] lrettig opened #120 "Gas charged before revert call is being reverted"
The [`revert`](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-140.md) operation should halt the executing contract without consuming all remaining gas. However, gas that has already been spent before calling `revert` should not be refunded.

When testing I noticed that if I insert a `useGas` call before calling `revert`, that gas is actually not subtracted from the final state.

[2018-01-24 16:05] lrettig opened #121 "Code after revert is being executed"
The [`revert`](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-140.md) operation should immediately halt execution of a contract, and no code after the `revert` code should run. However, in testing I found that code following a `revert` call is in fact being called (I tested using `useGas` to cause the executing contract to run out of gas).

[2018-01-24 16:23] jwasinger opened #122 "CREATE doesn't work"
See this branch with the test case in order to reproduce: https://github.com/ewasm/tests/tree/create-test

This is all the output I get:

[code]

[2018-01-24 21:55] axic commented on #121
Note, according to the design it doesn't stop execution: https://github.com/ewasm/design/blob/master/eth_interface.md#revert

[2018-01-25 01:12] axic commented on #122
What is the return value of `create` (it is `i32`)?

[2018-01-25 11:43] lrettig commented on #121
Got it, sounds like this is expected behavior. I'll close this.

[2018-01-25 11:43] #121 closed

[2018-01-29 15:59] jwasinger opened #126 "Call with no data, no value, does nothing"
See the test case:  https://github.com/ewasm/tests/tree/call-no-data-value .  The issue is that none of the code in the called account executes.

[code]

[2018-01-29 21:46] jakelang commented on #122
@jwasinger please try out the create-fix branch.

[2018-01-30 17:18] jwasinger commented on #126
Note to self:  un-zero the memory before it is stored...  so we can tell whether call is erring or not executing

[2018-01-30 17:26] axic commented on #126
Make sure it is not 0, 1 or 2 :)

[2018-01-31 17:45] jwasinger commented on #122
Updated the test case.  I am getting back a code of `0x02`: revert.

[2018-01-31 17:47] jwasinger commented on #126
Yup.  It is indeed 0

[2018-02-01 02:23] jakelang commented on #122
Well, at least we know that works :smile:
Looking into the cause of the problem, now that we know it is failing correctly.

[2018-02-06 16:44] hugo-dc opened #129 "callDelegate result is 0 (successful) when it runs Out of Gas"
callDelegate result is 0 (successful) when it runs Out of Gas.

I created this test case for this:
https://github.com/hugo-dc/tests/blob/fe9fa523316f00eadb7f4620d7e7376d5532289e/src/GeneralStateTestsFiller/stEWASMTests/utils/callDelegateOOGFiller.yml

[2018-02-06 17:18] axic commented on #129
Can you try doing a `revert` within a delegatecall?

[2018-02-07 02:54] hugo-dc commented on #129
Same result for `revert`, there is an Internal error while calling `revert` or `result`:

[code]
It is thrown here: https://github.com/ewasm/hera/blob/master/src/eei.cpp#L655

`dst.size() = 0`, `length = 2`

Not sure if this problem is new, or if @lrettig already had this problem when he wrote the `revert` test case: https://github.com/ewasm/tests/blob/wasm-tests/src/GeneralStateTestsFiller/stEWAS

[2018-02-07 05:52] lrettig commented on #129
I don't recall seeing this error, let me know if I can help take a look!

[2018-02-13 19:00] hugo-dc opened #130 "Compilation error in MacOS"
When I try to compile cpp-ethereum using Hera branch `eei-charge-gas` I get the following compilation error:

[code]

However, it compiles without errors in linux.

[2018-02-14 01:56] jakelang commented on #130
I just fixed this in latest commit on that branch. The issue was that the right-hand expression evaluated to uint32_t instead of uint64_t. Interesting that Apple's Clang reports this while the Linux version does not.

[2018-02-16 19:02] hugo-dc commented on #130
It works great, currently testing eei-gas-charge branch on macOS, thanks!

[2018-02-16 19:02] #130 closed

[2018-02-28 17:14] jwasinger opened #136 "Hera should roll back the effects of a transaction when it enters an exceptional state"
As I am writing new contracts (which cause hera/cpp-ethereum to crash), I am seeing that some of the effects of the transaction where an exception is triggered (*not* an EVM exception) are not rolled back.

For example, the nonce is incremented but not reset upon crash.  I will try to post an example in this issue.

[2018-03-01 18:17] jwasinger opened #137 "`return` doesn't account for data segments"
Here is the corresponding test case for this issue: https://github.com/ewasm/tests/pull/10

Error:
`InternalError: Out of bounds (destination) memory copy.`

[2018-03-01 18:46] hugo-dc commented on #137
I got the same error while testing callDelegate: https://github.com/ewasm/hera/issues/129#issuecomment-363639790

[2018-03-05 22:18] #74 closed

[2018-03-05 22:36] axic commented on #136
@chfast do you think such issues could happen in cpp-eth?

[2018-03-06 12:46] #137 closed

[2018-03-06 13:02] axic opened #142 "Update to binaryen 1.37.35"
A lot of the `ModuleInstance` interface has changed and that breaks the build.

[2018-03-07 07:38] chfast commented on #136
By the exception you mean something like `heraAssert()` failing?

If `heraAssert()` exits, this is not problem.
The best solution would be return `EVM_INTERNAL_ERROR` as the status code. If you need more status codes, let me know. I had an idea how to do it, without modifying EVM-C, but it was never used in practice.

[2018-03-11 20:50] #114 closed

[2018-03-12 00:12] #142 closed

[2018-03-13 22:21] chfast opened #150 "Setup clang-format"
It's time to do it while the code is still small and ugly anyway.

[2018-03-13 22:28] jakelang commented on #150
Does cpp-ethereum or solidity have a format file we can borrow?

[2018-03-13 22:39] chfast commented on #150
cpp-ethereum and ethminer have a common one.

[2018-03-14 08:45] chfast opened #152 "CI: Build on macOS"

[2018-03-14 14:24] axic commented on #122
I think this has been fixed with https://github.com/ethereum/cpp-ethereum/pull/4888

[2018-03-14 15:58] axic commented on #126
@jwasinger is this still a problem?

[2018-03-14 15:58] axic commented on #129
Is this still a problem?

[2018-03-14 15:58] axic commented on #136
Is this still a problem?

[2018-03-14 15:59] axic opened #156 "Abstract VM / interfaces to support multiple VMs"

[2018-03-14 16:00] axic opened #157 "Support wabt as a VM"
Depends on #156.

[2018-03-14 16:00] axic opened #158 "Support wavm as a VM"
Depends on #156.

[2018-03-14 16:10] #136 closed

[2018-03-14 16:31] chfast opened #159 "Build Hera as a shared library"
The cmake config for this should be `cmake -DBUILD_SHARED_LIBS=ON`.

We need a new toolchain file with `set(CMAKE_POSITION_INDEPENDENT_CODE ON)`. Let's call it `cxx11-pic.cmake` following Hunter/polly convention. This toolchain file should be selected when `BUILD_SHARED_LIBS` is on.

Also add a CI build of shared lib.

I started to extract these common CMake patterns in https://github.com/ethereum

[2018-03-16 22:44] axic opened #163 "Add option to disable interface metering when using evm2wasm"

[2018-03-16 22:47] axic opened #164 "Ensure evmTrace is compliant with other clients"
I think these are the remaining issues (may need to be fixed in evm2wasm directly):
- `pc` is off by one,
- need to figure out how to calculate the `gasLeft` correctly (I think #163 and https://github.com/ewasm/evm2wasm/issues/197 will fix it)
- need to display instruction names instead of opcodes

[2018-03-21 00:52] hugo-dc commented on #129
It is not throwing the InternalError anymore (InternalError: Out of bounds (destination) memory copy.), but I still receive 0 (success) as a result.

[2018-03-21 05:26] hugo-dc commented on #129
Hera is catching the OOG exception correctly, and it is setting status 2 here: https://github.com/ewasm/hera/blob/master/src/hera.cpp#L323

But, after this line is executed https://github.com/ewasm/hera/blob/master/src/eei.cpp#L644 , i see the status code as 0 (success), i also can see the result is set to success here https://github.com/ethereum/cpp-ethereum/blob/develop/libevm/ExtVMFace.cpp#L227

[2018-03-21 08:36] axic commented on #129
@chfast can you have a quick look into this?

[2018-03-21 08:39] chfast commented on #129
Can you give me full command to reproduce it?

[2018-03-21 14:24] chfast commented on #129
I've found the cause of the problem. Will fix it soon.

[2018-03-21 16:38] jwasinger commented on #126
Test is passing now.

[2018-03-21 16:38] #126 closed

[2018-03-21 17:28] axic commented on #129
@hugo-dc can you retest with latest cpp-ethereum?

[2018-03-21 17:46] hugo-dc commented on #129
I tested with the latest cpp-ethereum, now callDelegate is returning 2, according to the interface definition callDelegate should return 0 on success, 1 on failure and 2 on revert. I'm not sure if it's OK to return 2 or if should return 1.

[2018-03-21 18:02] axic commented on #129
It seems it is a limitation/bug in cpp-ethereum: https://github.com/ethereum/cpp-ethereum/blob/develop/libevm/ExtVMFace.cpp#L232

@chfast can we improve this?

[2018-03-21 18:34] chfast commented on #129
I think we have 2 options here:
1. Compress the information to SUCCESS / FAILURE only. For that I can change EVM_REVERT to EVM_FAILURE if that helps.
2. Pass the same status code as callee returned. This is much harder to do in cpp-ethereum at the moment, because this information is lost on the way. I plan to finally get to this point, but it requires a lot of refactoring steps.

Quick workaround

[2018-03-21 21:52] axic commented on #129
I think `ExtVMFace` is actually wrong, because `revert` is a subset of `failure`, but currently there is no way to handle all failures, just that very specific subset.

It should be just fixed to return `FAILURE` for the moment.

As a quick hack to support `REVERT`, you could check for `!success && gas_used < startgas`.

[2018-03-22 01:57] axic commented on #122
ping @jwasinger

[2018-03-22 01:57] axic commented on #120
Is this still an issue @lrettig ?

[2018-03-22 02:16] axic commented on #129
@chfast also the same problem is there in `create`, it can only return `FAILURE`.

[2018-03-22 02:16] axic commented on #122
Probably this is the same underlying problem as #129.

[2018-03-22 20:26] lrettig commented on #120
I'll test again asap. To be clear, https://github.com/ethereum/cpp-ethereum/pull/4909 is _not_ intended to fix this issue right?

[2018-03-22 20:27] axic commented on #120
No, the description of this case suggest something is totally broken :)

[2018-03-22 21:24] #122 closed

[2018-03-22 21:51] #129 closed

[2018-03-22 22:02] chfast commented on #129
Just to confirm current status: both create and call should report EVM_STATUS or EVM_FAILURE now.

[2018-03-22 22:40] lrettig commented on #120
Confirmed that this is not currently an issue

[2018-03-22 22:40] #120 closed

[2018-03-26 21:57] axic opened #169 "Make debugging a runtime option via set_option"

[2018-04-14 21:24] axic opened #178 "License question"
Hera currently is distributed under the MIT license, which I really like being so liberal and simple, however Apache 2.0 or MPL 2.0 for their explicit requirements around patents may be beneficial.

Would such a license change be useful? If so, which license is preferred?

cc @jakelang, @chfast, @jwasinger, @lrettig, @esteve, @cdetrio, @hugo-dc and @GreatAttractor

[2018-04-14 22:05] axic opened #181 "Move metering contract to a runtime option"

[2018-04-15 15:40] jakelang commented on #178
Might make sense to switch to Apache 2 if we want to have the protections against the patent system while still being permissively licensed. MPL is a step further in the direction of copyleft so we should discuss further if we want to consider that.

[2018-04-16 14:44] esteve commented on #178
I'd go with Apache (disclaimer: I'm a member of the Apache Software Foundation, so I'm biased). Not only it contains certain protections against being sued for patent infringement, but it'd also prevent anyone from using the same trademarks and names, and require any derived code based on Hera's to state their changes. Also, if a NOTICE file is added in Hera's repo, it'll have to be included in an

[2018-04-16 21:24] axic opened #185 "Move all OOG related cases to throw OOG and not a generic assertion"

[2018-04-16 22:08] axic commented on #178
Is anyone against moving to Apache 2.0?

[2018-04-16 22:12] jwasinger commented on #178
I vote for moving to Apache 2.0 (@axic answer your gitter/discord DMs :) )

[2018-04-16 22:21] axic opened #188 "Cleanup exception handling"
See https://github.com/ewasm/hera/pull/187#discussion_r181896684

Probably makes sense keeping `heraAssert` for internal exceptions and introducing a new function `ensureCondition(condition, exception)` to throw specific exceptions, such as static mode violation, out of bounds memory access, etc.

[2018-04-23 22:07] hugo-dc opened #190 "Value exceeds 64 bits"
I wrote a [new test case](https://github.com/ewasm/tests/blob/test-low-balance/src/GeneralStateTestsFiller/stEWASMTests/callNotEnoughBalanceFiller.yml) in order to validate that we get an OOG exception when there is a call sending a value and the value is higher than the current sender Balance. Instead the result is the following:

[code]

https://github.com/ewasm/hera/blob/1a219f0b5ebeaebbbb13639

[2018-04-23 22:29] axic commented on #190
This is also an endianess issue.

[2018-04-23 22:29] axic commented on #190
Also there should be test cases for using > 64 bit values.

[2018-04-25 01:25] jakelang commented on #181
Enabled or disabled by default?

[2018-04-27 02:43] jwasinger commented on #190
Related: https://github.com/ewasm/evm2wasm/issues/219

[2018-05-02 07:09] jwasinger opened #197 "Transaction Value should be 256 bits"
Hera is expecting a transaction value to be 128 bits: https://github.com/ewasm/hera/blob/master/src/eei.cpp#L607

I'm working on a fix but I'm stuck on trying to compare two `evmc_uint256be` to change this line: https://github.com/ewasm/hera/blob/master/src/eei.cpp#L880 .  @axic @jakelang know of any code that does this?

[2018-05-02 08:00] jwasinger commented on #197
This what I have tried for comparing two 256 bit numbers.  Doesn't seem to be working.

[code]

[2018-05-02 08:06] jwasinger commented on #197
This is some dirt-nasty C code that I wrote to try and compare two 256 bit numbers (represented as char arrays):

[code]

It doesn't appear to be working.

[2018-05-02 08:26] jwasinger commented on #197
YP omits a limit for the transaction value.  The limit is 2^128-1

[2018-05-02 08:26] #197 closed

[2018-05-09 02:57] jwasinger opened #199 "Make sure values are converted to the correct endianness for EVMC"
E.g. https://github.com/ewasm/hera/blob/master/src/eei.cpp#L860-L865

There needs to be a way to detect the system endianness and convert the loaded value (little-endian) accordingly.

[2018-05-10 09:25] #181 closed

[2018-05-10 09:54] axic commented on #159
@chfast are you doing this now?

[2018-05-10 10:42] #159 closed

[2018-05-10 13:34] lrettig commented on #178
Isn't there someone from EF who should weigh in on this? Is there no standard for EF-affiliated repositories?

[2018-05-10 13:50] axic commented on #178
We have external contributors on this repo who need to agree to the license change.

[2018-05-10 19:12] hugo-dc commented on #178
I'm ok with moving to Apache 2.0

[2018-05-11 17:25] cdetrio commented on #178
Apache 2.0 and MPL are both fine with me.

[2018-05-15 14:31] #188 closed

[2018-05-15 15:12] axic commented on #190
The other problem here is that `ensureSenderBalance` is just broken, because it uses `safeLoadUin128`, which truncates the value into `uin64_t`.

`ensureSenderBalance` should be rewritten to properly handle the values.

[2018-05-15 16:12] axic commented on #164
Has been fixed by https://github.com/ewasm/evm2wasm/pull/200

Has been fixed by https://github.com/ewasm/evm2wasm/pull/204 and the rest is tracked in #163.

Has been fixed by #179

[2018-05-15 16:12] #164 closed

[2018-05-16 10:39] #185 closed

[2018-05-18 20:36] jwasinger opened #221 "Memory copying should write zeros for bytes that are out of bounds in the source location"
See this trace of randomStatetest283 from evm2wasm:
https://gist.github.com/jwasinger/f85a735066491d56f52513a1cffddeeb

[2018-05-21 00:18] jwasinger commented on #221
https://github.com/ewasm/hera/pull/222

[2018-05-21 21:46] jwasinger opened #223 "Unreachable in contract creation txn should not create a new account"
Test case here: https://github.com/ewasm/tests/pull/33

[2018-05-22 08:34] #163 closed

[2018-05-23 00:48] cdetrio opened #224 "getCodeSize after callCode"
We found this issue while debugging [stCallCodes/callcallcode_01](https://github.com/ethereum/tests/blob/develop/GeneralStateTests/stCallCodes/callcallcode_01.json#L45-L59) with evm2wasm, and the codeSize WIP patch https://github.com/ewasm/hera/pull/217/.

Here's the correct trace, executing cpp-ethereum without hera:
[code]
trace output: https://gist.github.com/hugo-dc/487b7f3021f2aaadbcc26dcb2c6

[2018-05-24 17:48] jwasinger commented on #224
What branch of evm2wasm did you use to produce this?  I'm seeing this:
[code]

I swear this issue was fixed somewhere and now I can't find where.

[2018-05-25 21:33] cdetrio commented on #224
The `stCallCodes/callcallcode_01` test case: https://github.com/ethereum/tests/blob/develop/GeneralStateTests/stCallCodes/callcallcode_01.json#L45-L59

[2018-05-26 04:15] cdetrio opened #227 "hera 217 vs 225"
Running exact same [evm2wasm branch](https://gist.github.com/cdetrio/85c899ca88249042c53243b3bf3769c1) against two different Hera PRs on the test case [stCallCodes/callcall_00](https://github.com/ethereum/tests/blob/develop/BlockchainTests/GeneralStateTests/stCallCodes/callcall_00_d0g0v0.json#L69-L115).

cpp reference trace: https://gist.github.com/cdetrio/cb945b5ddbc666f73a9c6debea50d8b7

hera 21

[2018-05-26 04:28] cdetrio commented on #227
After comparing the passing 217 trace to the reference trace, I see that the 217 is actually too long (with extra CALLs), but still manages to pass the test by having the same postState. :man_shrugging:

[2018-05-26 16:18] cdetrio commented on #227
The tests branch:

[code]

[2018-05-26 19:27] #224 closed

[2018-05-26 19:27] #227 closed

[2018-05-28 21:07] #116 closed

[2018-05-31 04:44] lrettig opened #246 "First few bytes of code in dynamic CREATE is being overwritten"
CC @axic

Test: https://github.com/ethereum/tests/blob/develop/src/GeneralStateTestsFiller/stCallCodes/callcodeDynamicCodeFiller.json
Reference trace: https://gist.github.com/lrettig/17e00c2847d9ca13781aa5c6ff1d2d83
Hera trace (including a bunch of new debug output): https://gist.github.com/lrettig/89bd77db5091e943eb98d31ac612c405

Note that I already fixed one issue here (haven't PRed yet): https

[2018-05-31 18:16] axic commented on #246
Even though there is a native test for the interface, it seems it is only creating a 0 byte account: https://github.com/ewasm/tests/blob/wasm-tests/src/GeneralStateTestsFiller/stEWASMTests/createFiller.yml

There is a need for a proper creation test.

[2018-06-01 19:20] lrettig commented on #246
Thanks for spotting this @axic, will work on it here: https://github.com/ewasm/tests/issues/39

[2018-06-02 05:28] #246 closed

[2018-06-02 15:50] #190 closed

[2018-06-22 15:37] lrettig commented on #221
Looks like this is no longer an issue per https://github.com/ewasm/hera/pull/222#issuecomment-390824463, also https://github.com/ewasm/tests/issues/34 and https://github.com/ewasm/evm2wasm/issues/250. Can we close this?

[2018-06-22 16:53] lrettig commented on #223
This no longer appears to be an issue per ewasm/tests#33, close please.

[2018-06-26 17:34] lrettig opened #258 "Hera fails to execute AssemblyScript WAST"
I'm getting the following error running a test that includes valid WAST that's generated from AssemblyScript:

[code]

Here's the WAST in question:
[code]

[2018-06-26 17:49] axic commented on #258
Since Hera can only execute wasm (binary), can you post the binary instead? (in base64 or something)

The message means it couldn't identify a proper `main` function.

Also it seems that it has a `start` method, which it shouldn't.

[2018-06-27 01:44] lrettig commented on #258
There is a main function. I played around with naming, removing the $type, etc. and that didn't seem to make a difference.

What do you mean by "it shouldn't"? I'm not sure what's adding this--I wonder if it has to do with the memory management module.

Here's the WASM in base64:

AGFzbQEAAAABGAVgAABgAAF/YAJ/fwBgAX8Bf2ADf39/AAKDAQYIZXRoZXJldW0P
Z2V0Q2FsbERhdGFTaXplAAEIZXRoZXJldW0GcmV2ZXJ0AAIIZXRoZ

[2018-06-27 03:35] cdetrio opened #259 "Hera/evmc/cpp chokes on wasm codes with invalid namespace"
It prints the following error messages and then a subsequent block never comes.

[code]

[2018-06-27 05:41] jwasinger commented on #258
Looks like your wast declares the function "main/main" and then exports "main".

It would be easier to reproduce this if you posted wast that follows the s-expression format.

[2018-06-27 05:42] #221 closed

[2018-06-27 09:15] axic commented on #259
[code]

To decompose:
1) the "Import from invalid namespace." is an internal error, because it should rejected by the sentinel contract at deploy time, but since we do not have that yet, we require the user to do it
2) the `EVMC_INTERNAL_ERROR` is considered a panic in EVMC, aleth should deal with tit properly

Issue 2) seems to be a bug, @chfast @gumb0 can you check?

[2018-06-27 09:22] chfast commented on #259
I don't believe there a way to handle the `EVMC_INTERNAL_ERROR` in incoming blocks. you might want to drop the block if you was mining it, but that's very complicated in our current architecture of the client where the import part does not recognize where the block comes from.

@gumb0 should be able to say much more about it. It looks the block was marked as a bad block. Why is the client not prog

[2018-06-27 09:49] gumb0 commented on #259
The block being mined is updated in only when the blockchain is updated, so it does not progress as it thinks there's no need to, chain head didn't change.

I guess we can try to work around it, as `Client` which manages the mining receives a callback when invalid block was processed.
https://github.com/ethereum/cpp-ethereum/blob/9fe8dc53d22b8aa637f86d7c045002300e8b99ee/libethereum/Client.cpp#L173

[2018-06-27 09:50] gumb0 commented on #259
I can try it if you describe how to reproduce it.

[2018-06-27 11:20] axic commented on #259
@gumb0 Probably the simplest is if you change `evmc` in aleth to always return an `EVMC_INTERNAL_ERROR` response code and run it with `aleth-interpreter`. That should trigger the problem.

[2018-06-27 11:21] #223 closed

[2018-06-27 11:53] lrettig commented on #259
Re: issue no. 2 above, this looks very similar to the error I encountered in https://github.com/ewasm/tests/pull/52 which has me stumped. I feel like this just started, maybe there is an underlying hera/cpp issue here -- why aren't these exceptions being trapped? Apologies if I'm misunderstanding something.

[2018-06-27 11:55] lrettig commented on #258
The WAST compiles fine using wabt's wat2wasm. Also this isn't "my wast," this is valid wast being produced by the AssemblyScript compiler -- which *cough* is built on binaryen. Doesn't make sense.

[2018-06-27 12:05] MaxGraey commented on #258
Hi, @lrettig. This wasm was generated as result from [this demo](https://github.com/lrettig/ewasm-assemblyscript-demo)?

[2018-06-27 12:12] axic commented on #258
That shouldn't make any difference, `$main/main` is the internal symbol in the wast, not even present in the wasm.

The "ECI" states that we do not support the start flag :)

[2018-06-27 12:20] gumb0 commented on #259
@axic Thanks, I'll try it

@lrettig Doesn't look similar to me, there's another evmc statsus code in your issue
[code]

[2018-06-27 12:29] MaxGraey commented on #258
I guess the error with missing `main` may be appear with wrong function signature.
You use:
[code]
instead `int main(int argc, char* argv[])` which in AS equivalent to:
[code]

[2018-06-27 12:35] MaxGraey commented on #258
@axic

You mean you don't support `start` entry point provided by WebAssembly design?

[2018-06-27 12:46] MaxGraey commented on #258
@lrettig

Definitely you are right. Init code for mem management put into `start` entry point.

[2018-06-27 13:18] lrettig commented on #258
Where?

[2018-06-27 17:56] dcodeIO commented on #258
FYI: asc now omits the `start` entrypoint if an exported `main` function is present and instead prepends a call to start to the main function's body ([commit](https://github.com/AssemblyScript/assemblyscript/commit/27e61f8f679607503c232c31f251a1cbd6321462)).

[2018-06-27 18:00] lrettig commented on #258
Thanks @dcodeIO this is helpful to know

[2018-06-27 20:59] axic commented on #258
@MaxGraey actually we have decided to have `main()` as the function signature. Would that be an incompatibility with AssemblyScript?

Yes, but this restriction came around the time of wasm version 0xb, we may need to revisit VMs to clarify whether the reasons for disabling it are still valid.

@dcodeIO nice! I briefly had a look at the patch. Did I get it right that it only checks for the presence

[2018-06-27 21:19] MaxGraey commented on #258
For AS this is absolutely not important, I thought this is important for your VM and infrastructure that is trying to pass parameters that are not supported. I was guided this C++ [contract example from evmc](https://github.com/ethereum/evmc/blob/cb2288b49d460d388831e45ba310e43ad2e3bf06/examples/capi.c#L133) and guess this may be some metter.

[2018-06-27 21:40] dcodeIO commented on #258
@axic Yes, if it finds a non-generic, non-ambient function export using the external name "main", it assumes that's the main function (regardless of its parameters) and skips generating the `(start ...)` entrypoint.

There is also [a way to inject custom transforms](https://github.com/AssemblyScript/assemblyscript/issues/20) into the compilation process. So if you guys would like to implement addi

[2018-06-27 21:59] axic commented on #258
Thank you @MaxGraey and @dcodeIO again for the insanely quick turnaround of answers 👍

I (and I think others agree with me) would be really interested in having AssemblyScript as one of the first well supported languages for ewasm, though we're still very early in the process.

One thing which would make life super convenient is having access to wasm's namespaces when importing external functions.

[2018-06-27 22:05] dcodeIO commented on #258
I actually just implemented this as a decorator, but didn't commit it yet. New behavior will be to use the file name without extension as the new default module name for `declare`d functions (instead of `env`), plus a new decorator `@external` that either takes one string argument to change the external name of the element only or two string arguments to change the external names of both the modul

[2018-06-27 22:12] axic commented on #258
That sounds awesome, let me know when it's available.

Now we only need to learn how to create efficient types (for example for an address, value, storage keys and values - all bignums) and use them in our wrappers.

p.s. `return` should not be an issue anymore if the method is renamed to the proposed `finish`.

[2018-06-27 22:18] MaxGraey commented on #258
@axic Actully I already start working on [bignum](https://github.com/MaxGraey/bignum.wasm) which contain signed and unsigned integers for 128/256-bit. Also support `safe` (guarded) equivalent types which unreachable during overflowing. Fixed point as well. But this still in progress

[2018-06-27 22:19] axic commented on #258
@MaxGraey thanks, actually saw it today. Would you recommend using it right now? Would our experimentation with it be useful feedback for you?

[2018-06-27 22:29] MaxGraey commented on #258
Currently it's mostly untested and uncompleted. Only `u128` and `safe.u128` complete except division and reminder ops but still may contain bugs. Some part under safe namespace not compiled yet in reason on this [issue](https://github.com/AssemblyScript/assemblyscript/issues/127).

Currently I finished `itoa` which required `AnyInt#toString()` and could focused on *bignum* I hope)

[2018-06-27 23:46] dcodeIO commented on #258
@axic `@external` just landed ([test case](https://github.com/AssemblyScript/assemblyscript/blob/master/tests/compiler/external.ts)).

[2018-06-28 00:37] dcodeIO commented on #258
[Here's a little fork](https://github.com/dcodeIO/wrc20-challenge) of @lrettig's demo with the new features and a simple extension to the standard library integrated. Hope it helps :)

[2018-06-28 01:00] lrettig commented on #258
Amazing. I love that the seven steps are now four. Thanks :) can't wait to spend more time digging into this and building an ethereum toolchain around it.

Sent via Superhuman iOS ( https://sprh.mn/?vip=lane@ethereum.org )

On Wed, Jun 27 2018 at 20:37, < notifications@github.com > wrote:

[2018-06-28 10:41] gumb0 commented on #259
After messing with code I think the problem is different. The transaction that caused exception is considered invalid and is not added to the mined block - this is correct.
But looks like we don't handle internal VM exception properly - the state changes are not rolled backed after it and as a result the state root hash is incorrect when we construct the block.

[2018-06-28 10:50] gumb0 commented on #259
@cdetrio Could you try it with this fix https://github.com/ethereum/cpp-ethereum/pull/5101 ?

[2018-07-16 06:49] jwasinger opened #260 "Hera fails to build with latest evmc"
[code]

[2018-07-17 08:40] chfast commented on #259
Fixed.

[2018-07-17 08:40] #259 closed

[2018-07-26 21:40] axic opened #270 "Support v8 as VM"

[2018-07-26 21:40] axic opened #271 "Support Chakra as VM"

[2018-07-29 11:02] axic commented on #157
@jakelang do you have a sample code to run instantiation with `wabt`?

@chfast can we have a `ProjectWABT`?

[2018-07-29 11:03] axic commented on #158
Extracted this basic logic from https://github.com/AndrewScheidecker/WAVM/blob/master/Source/Programs/wavm.cpp:
[code]

[2018-07-29 11:03] axic commented on #1
Closing as it is out of scope atm.

[2018-07-29 11:03] #1 closed

[2018-07-29 12:13] #178 closed

[2018-07-30 12:34] axic opened #276 "Have a version number"
From https://github.com/ewasm/hera/pull/192/files#r183572651: Using Cable to have a `buildinfo.h` would be nice.

[2018-08-02 21:06] axic opened #288 "Add commandline option to load bytecode for system contracts"
Proposed syntax:
- `sys:<address>=<path>`
- `sys:sentinel=<path>` (alias to 0x00...00e?)
- `sys:evm2wasm=<path>` (likewise)

For example, one would run `testeth -t GeneralStateTests/stExample -- --testpath ~/tests --singlenet "Byzantium" --singletest "add11" --vm ~/libhera.so --evmc sys:evm2wasm=my_cool_version_of_evm2wasm.wasm`

`sys` stands for system contract, while the `address` can be any eth

[2018-08-09 11:26] jakelang commented on #288
@axic Figured as much. Should this be considered blocked on the evmc issue or should it be implemented the dirty way?

[2018-08-09 11:33] axic commented on #288
It should only do case 1: replace the code hera has for the given account, but it is up to the client to actually route the call to hera.

[2018-08-10 09:37] axic opened #297 "Update to EVMC ABIv5"

[2018-08-10 10:54] axic opened #300 "Move public hera.h header into include/hera.h"

[2018-08-10 13:08] #297 closed

[2018-08-10 13:13] axic opened #303 "CI: build on Windows"

[2018-08-10 14:01] chfast opened #305 "CI: Test evm2wasm.js with Aleth binaries"
Convert the CircleCI job "evm2wasm-tests" to be like "linux-clang-shared-*" (or include the tests in this job), i.e. build hera to a shared library and use downloaded binaries of Aleth instead of building it from source.

[2018-08-13 18:42] jakelang opened #309 "Set up codecov for Hera"

[2018-08-15 20:09] chfast opened #311 "Fix warnings"
Enable `-Wsign-conversions` and `-padantic` and fix all the warnings that the compiler will raise.

[2018-08-16 14:24] axic opened #314 "Move toolchain file into Cable"

[2018-08-16 14:28] #309 closed

[2018-08-16 21:11] jakelang opened #318 "Clarify endianness of memory access operations"
It has become a bit confusing that the overloaded functions for memory access actually have different functionality, in that some automatically convert endianness and some do not.

[2018-08-16 23:10] axic commented on #318
So basically Hera considers both 128, 160 and 256bit values and numbers and does byteswapping on them.

However, only 128-bit should be a number given that refers to "Ether value", while 160-bit values represent addresses and 256-bit values represent storage keys, values and log data.

[2018-08-17 12:57] #276 closed

[2018-08-18 18:27] jwasinger opened #330 "Build broken"
I'm trying to build Hera: https://github.com/jwasinger/go-ethereum/blob/evmc-docker/Dockerfile

Getting the following error:
[code]

[2018-08-19 03:40] #300 closed

[2018-08-19 17:11] axic commented on #330
I think #320 fixed this.

[2018-08-19 17:13] #314 closed

[2018-08-19 20:04] chfast commented on #330
For now explicitly specify the build type `-DCMAKE_BUILD_TYPE=Release`.

[2018-08-19 20:53] #330 closed

[2018-08-20 19:40] axic opened #342 "Add support for bumpversion"

[2018-08-20 19:40] axic opened #343 "Push releases/weekly builds"
The same build system as on aleth would be nice.

[2018-08-21 08:12] #311 closed

[2018-08-21 17:00] axic opened #349 "CI: run ewasm-tests with geth+evmc+hera"

[2018-08-21 17:24] axic opened #350 "Cleanup debugging"
Remove `HERA_DEBUGGING` everywhere where it is only used to wrap `HERA_DEBUG`.

[2018-08-22 03:08] #318 closed

[2018-08-26 03:27] #305 closed

[2018-08-26 12:05] #350 closed

[2018-08-26 22:01] axic opened #369 "Add profiling support and see which are the busy codepaths"

[2018-08-26 22:28] axic commented on #156
This has been implemented, only minor improvements are left.

[2018-08-26 22:28] #156 closed

[2018-08-27 13:35] axic opened #372 "Create proper abstraction so that we can use `WasmEngine` with multiple VMs"
In https://github.com/ewasm/hera/blob/master/src/hera.cpp#L297 should be able to do something like:
[code]

[2018-08-27 13:48] axic opened #373 "CMake support "-Wimplicit-fallthrough" and "-Wswitch-enum""
These are compiler specific so need additional code to turn them on when possible.

From https://github.com/ewasm/hera/pull/346#discussion_r212819782

[2018-08-27 17:29] axic opened #376 "Fuzzing Hera"
It should be fuzzed with random inputs to be executed (with and without the sentinel).

Most of the fuzzing corpus should be built with the successful test cases of ewasm tests suite. Goal is fuzzing the EEI implementation.

[2018-08-27 19:55] holiman commented on #376
Are we talking about consensus-testing, or just 'can I crash this thing?'. Basically, AFL-fuzz it like solidity/solfuzz or make something a bit more clever, like differential fuzzing against geth/parity ?

Cc @guidovvranken

[2018-08-27 20:04] axic commented on #376
For now

In 2-3 weeks (more realistically after devcon) we can move into consensus testing by running both Hera and Wagon. But first Wagon support needs to be finished in geth @gballet.

[2018-08-27 23:09] #372 closed

[2018-08-28 10:08] axic opened #380 "Implement storageStore/storageLoad/getGasLeft/getCallValue in wabt"
The wabt backend should be extended to support:
- `storageStore`
- `storageLoad`
- `getGasLeft`
- `getCallValue`

See how the current methods are implemented in `wabt.cpp` and see the definition of the above in `eei.h`. Also worth looking into `binaryen.cpp` how it does the wrapping for these.

Additionally circleci must be updated to run some tests which cover these.

This is an easy/medium compl

[2018-08-28 11:11] #288 closed

[2018-08-28 13:55] axic opened #386 "Release roadmap"
Hera is going to have releases! Well, at least release tags on git.

Planned:
- 0.1.0: EVMC ABIv5, [EEI revision 4](https://github.com/ewasm/design/projects/1), full Binaryen/basic Wabt support
- 0.1.1: basic WAVM support
- 0.2.0: [EVMC ABIv6](https://github.com/ethereum/evmc/projects/4) (target version for Devcon)
- 0.3.0: [EEI revision 5](https://github.com/ewasm/design/projects/3)
- 0.4.0: comp

[2018-08-28 22:37] axic commented on #376
A quick and dirty way to crash on the desired exceptions is to add `abort()` into these three:
https://github.com/ewasm/hera/blob/master/src/hera.cpp#L371-L380

- `(InternalErrorException)`
- `(std::exception)`
- `(...)`

[2018-08-29 09:16] holiman commented on #376
Point me to a binary, build instructions, LMK what types of input it takes, and I'll get started :)

[2018-08-29 09:37] axic commented on #376
Use this branch: https://github.com/ewasm/hera/pull/392

Build with:
[code]

Run with `aleth --vm ~/build/src/libhera.so --singlenet Byzantium <code goes here>`.

[2018-08-30 14:28] vs77bb commented on #380
@usmanmuhd You've been approved. Please keep us posted on your progress here + let us know if you have any questions. 🙂

[2018-08-30 14:30] usmanmuhd commented on #380
@vs77bb Thanks for approving. I will be setting up the test env and then beginning work on it.

[2018-09-04 11:52] #380 closed

[2018-09-04 11:52] axic commented on #380
@vs77bb this has ben done properly by @bakaoh.

[2018-09-04 12:08] axic opened #397 "CI: use codespell"
See https://github.com/codespell-project/codespell. This not only checks comments in code, but also documentation for spelling mistakes.

Should create a circleci configuration with a "spelling" task running codespell on the repo.

Also while doing so, codespell should detect typos which need to be corrected.

This should be an easy task.

[2018-09-06 14:04] axic opened #399 ">=95% test coverage on the EEI implementation"

[2018-09-06 14:13] axic opened #400 "Add ASan* to CI"
- https://clang.llvm.org/docs/AddressSanitizer.html
- https://clang.llvm.org/docs/MemorySanitizer.html
- https://clang.llvm.org/docs/LeakSanitizer.html

[2018-09-06 14:16] axic commented on #258
Thank you @dcodeIO and @MaxGraey again for the help. I am closing this issue now as pretty much everything was sorted 🎉

[2018-09-06 14:16] #258 closed

[2018-09-08 18:34] #400 closed

[2018-09-08 18:58] #373 closed

[2018-09-08 19:12] #342 closed

[2018-09-13 17:39] #397 closed

[2018-09-13 20:31] cdetrio opened #412 "instructions for how to build hera don't work"
These [instructions](https://github.com/ewasm/hera#building-hera) don't work.

[code]

[2018-09-13 20:50] axic commented on #412
You must have `HERA_WABT=ON` specified somewhere.

https://github.com/ewasm/hera#build-options mentions:

If you are sure `-DHERA_WABT=ON` wasn't specified, then please upload the `CMakeOutput.log` and meanwhile add `-DHERA_WABT=OFF`.

[2018-09-14 09:59] axic opened #413 "Turn BUILD_SHARED_LIBS on by default"

[2018-09-14 13:29] #158 closed

[2018-09-17 20:52] chfast commented on #413
I'm doing it.

[2018-09-17 22:17] #413 closed

[2018-09-19 10:53] axic commented on #399
It seems three cases are not tested in `eei.cpp`:
- call failure due to call depth exceeded
- create failure due to call depth exceeded
- create failure due to not enough sender balance

See https://codecov.io/gh/ewasm/hera/src/8085afc61ad523da49972e731e3bb1643f340e18/src/eei.cpp

cc @hugo-dc

[2018-09-20 11:02] axic commented on #412
Please reopen if this issue persists. I believe it was a cmake configuration cache problem on your end.

[2018-09-20 11:02] #412 closed

[2018-09-25 20:38] lrettig opened #431 "Build error on Linux: libbinaryen.a"
Getting the following error when I run `cmake --build`:

[code]

Manually copying `libbinaryen.a` from `deps/lib64` seems to have worked.

Hera commit is https://github.com/ewasm/hera/commits/753dafc4f6e26d47fbbf3a119321689ca785b1b1. I'm running vanilla Amazon Linux:

[code]

Note that the same error (and workaround) was reported here: https://github.com/moneroexamples/compile-cpp-ethereum-on-arch

[2018-09-25 20:40] jakelang commented on #431
note that this also sometimes happens on aleth build with `libbinaryen.a`
and `libmpir.a`. I am guessing that binaryen's cmake package may have an
issue.

On Tue, Sep 25, 2018, 16:38 Lane Rettig <notifications@github.com> wrote:

[2018-09-25 20:52] chfast commented on #431
What a fancy distribution do you have? I will fix it.

[2018-10-03 17:13] axic commented on #399
Call/create depth limitation cannot be implemented due to the 63/64th rule.

[2018-10-03 17:13] #399 closed

[2018-10-04 01:58] axic commented on #431
It seems to be AWS.

@chfast any luck finding the issue?

@lrettig how did you workaround this?

[2018-10-04 13:38] chfast commented on #431
Can you test the fix in #437 ?

[2018-10-05 22:28] #431 closed

[2018-10-08 06:08] lrettig opened #441 "Not checking signature of main in init code create from tx"
This test fails: https://github.com/ewasm/tests/blob/f589b26f35fc7957f1a94b73a75f72b134a6bffa/src/GeneralStateTestsFiller/stEWASMTests/initMalformedBytecodeInvalidMainFromTxFiller.yml. The init code should be invalid because the signature for `main` is wrong, but the create succeeds.

[2018-10-08 06:41] lrettig opened #442 "illegal opcode when main does not match signature on create (binaryen)"
Happens with both create opcode and create from tx. Sample init code wast:

[code]

error:
[code]

This happens only using binaryen; I see a different issue with wabt.

[2018-10-25 14:14] #442 closed

[2018-10-25 14:14] axic commented on #442
Can you check with `master`?

[2018-10-25 21:11] lrettig commented on #442
All good now, see https://github.com/ewasm/tests/pull/96

[2018-10-30 22:45] axic commented on #343
This works now with bumpversion and circleci payload to tag attachment.

[2018-10-30 22:45] #343 closed

[2018-11-06 13:38] axic commented on #386
This has been handled in:
- https://github.com/ewasm/hera/projects/1
- https://github.com/ewasm/hera/projects/2
- https://github.com/ewasm/hera/projects/3

[2018-11-14 08:41] gballet opened #456 "Hera's gas accounting in callSenderBalanceExceeds128Bits"
The `callSenderBalanceExceeds128Bits` test poses some problem with wagon and as a DDoS attack vector.

The initial state is as such:
[code]

and the expected output is:

[code]

This happens because upon [checking the sender's account balance for the value transfer](https://github.com/ewasm/hera/blob/v0.2.0/src/eei.cpp#L496), Hera also checks that [the account balance itself is lower than 128 bits

[2018-11-14 08:47] axic commented on #456
It is not that simple. The ewasm interface is limited to 128-bit, so it cannot properly deal with such accounts.

I agree that this should be addressed, but need to take all cases (and methods) into account..

[2018-11-14 09:38] gballet commented on #456
I'm ok with just making sure that the transaction gas is charged by hera, that I can easily mimic with wagon.

Regarding the 128-bit size, it's true it would require a spec change. This being said, the balance is stored as a u256 in the DB. In the case when WASM is deployed on the mainchain, we need to be consistent with the mainchain interfaces. It seems to me that it's just about changing `call`

[2018-11-15 01:42] axic commented on #386
I think we're on a good way to achieve the above. Mostly tracked on the project boards now.

[2018-11-15 01:42] #386 closed

[2018-11-21 17:52] gballet opened #457 "Hera doesn't seem to create the contract in a revert"
This is the debug output of `testeth` + `hera` v0.2.0 when running `createCodeWithRevert`:

[code]

One can already see that no newly created contract with code exists. There should be a line saying something like `'code' : ['0x', '->', '0x...']`

`wagon` fails the test as a new account is effectively created:

[code]

[2018-11-22 02:44] lrettig commented on #457
The [createCodeWithRevert](https://github.com/ewasm/tests/blob/wasm-tests/src/GeneralStateTestsFiller/stEWASMTests/createCodeWithRevertFiller.yml) test does not appear to test for the existence or non-existence of the new account. Am I missing something? What's the expected behavior here?

Are you suggesting that the wagon behavior is the expected behavior and the hera behavior is wrong?

[2018-11-22 13:44] gballet commented on #457
indeed it doesn't test for it. That's one of the problems.

  * The name of the test is "createWithRevert" and it *does* tries to create a contract.
  * Contract creation fails in hera, and not with wagon. I'm not sure why it fails in hera, as it goes through the same steps of gas consumption as wagon does.

yes. If the test is called "createwithrevert" then it seems to me that it should create a

[2018-11-22 14:59] gballet commented on #457
@axic any opinion ?

[2018-11-22 15:49] lrettig commented on #457
I don't have an opinion about expected behavior here but I'm not sure that we've used a consistent naming convention in all of the tests, so the names of some may be misleading or even "backwards" - I've tried to remedy that recently by including a comment in the first line of the filler file that says what the test is supposed to do.

[2018-11-23 20:47] axic commented on #457
It should test for it and it shouldn't be created.

The main goal of this test is that a "constructor" bytecode when doing a revert it should be considered as a failure and no account should be created.

[2018-11-23 20:48] axic commented on #456
On the last weekly meeting we agreed that all cases would turn into a regular failure and all gas is forfeited.

[2018-11-23 22:39] gballet commented on #457
Ok, got confused by the title. Got fixed in wagon.

[2018-11-23 22:39] #457 closed

[2018-11-24 18:30] #456 closed

[2018-11-24 19:29] axic opened #459 "Support wasmer as VM"

[2018-11-26 11:36] chfast commented on #349
Currently, this is not easily doable, because go-ethereum will run Byzantium state tests in EVM mode (EWASM is not enabled in this config) even if `--vm.ewasm=hera.so` is specified.
You can add a hack like proposed `.EnableWagon` but I don't want to maintain it.

[2018-11-26 12:32] gballet commented on #349
for reference, @chfast's PR https://github.com/ethereum/go-ethereum/pull/18084

[2018-12-04 13:48] chfast commented on #349
No.

[2018-12-04 14:47] chfast commented on #349
This hack allows to run EWASM state tests in geth: https://github.com/ewasm/go-ethereum/pull/7.

[2018-12-07 14:02] gballet commented on #349
Actually that's what the fork rules are for, check https://github.com/ewasm/go-ethereum/pull/9 That should work now; I'm seeking to activate travis to check, but I seem to have insufficient permissions @axic.

[2018-12-07 14:43] chfast commented on #271
Too late. Chakra is dead.
https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-open-source-collaboration/

[2018-12-07 14:43] #271 closed

[2018-12-08 16:44] jwasinger commented on #441
Seeing as this test was merged and the Hera CI is passing, can we close this?

[2018-12-11 00:43] axic commented on #152
Building this on CircleCI would enable us to include it in the release.

[2018-12-11 19:11] #376 closed

[2018-12-12 14:51] #152 closed

[2018-12-13 15:44] axic opened #468 "LGTM configuration to include wabt/wavm"
See https://lgtm.com/help/lgtm/lgtm.yml-configuration-file

[2018-12-19 14:48] speqtr commented on #459
Hi,

Is some already working on this issue? If not then I'm willing to implement this task 🙂

Any details/notes/suggestions/guidance I should know about before I start working on this task?

cc @axic

[2018-12-20 14:04] poemm commented on #459
Wasmer has similarities to https://github.com/CraneStation/wasmtime .

Would need support for calls between Hera C++ functions and Wasmer Rust functions. If Rust supports C calling conventions, then maybe `extern "C"` in Hera will prevent the name mangling and to use C calling conventions. Also need to share memory pointers across languages. And might need to catch each other's exceptions.

Might

[2019-01-31 18:41] poemm opened #485 "-DHERA_BENCHMARKING=ON"
Can we add flag `-DHERA_BENCHMARKING=ON` when compiling Hera, and include the following code in each engine's interface to print benchmarking data? @chfast

[code]

[2019-02-01 11:19] chfast commented on #485
Is this necessary to dump it to a file?

[2019-02-01 14:17] poemm commented on #485
It would be nice if the runtimes were eventually dumped to a file so that we can compare them.

[2019-02-01 14:35] axic commented on #485
Having a prefix, like `[hera benchmark]` and displaying the lines on `stdout` would allow grepping fori t.

[2019-02-01 14:43] chfast commented on #485
I can do both, but I will start with the standard output first.
I also prefer using runtime flags than build flags. Unless strong objection the first version will introduce `benchmark` EVMC-like option.

[2019-02-01 14:49] axic commented on #485
I think the runtime flag could have a large speed penalty so would prefer the build flag for this instance.

[2019-02-01 15:05] chfast commented on #485
Unverified claim. I claim there will be 0 speed penalty.

[2019-02-01 15:10] axic commented on #485
So you claim that having runtime branches around all the different EEI methods provides 0 speed penalty?

[2019-02-01 16:41] poemm commented on #485
The reason that I proposed a preprocessor flag is because I expected a speed penalty from system calls for `clock()` and writing data, each of which require a context switch to kernel mode, executing the system call, possibly doing some unrelated scheduled kernel work, and context switching back, this is not to speak of TLB misses or cache misses. This speed penalty may be negligible for long-runn

[2019-02-08 13:37] axic opened #491 "Merge common code from verifyContract and execute to a helper in wabt"

[2019-02-18 15:54] axic opened #507 "Add memoryCopyFromInstance and memoryCopyToInstance"
Currently we only have `memorySet` and `memoryGet` wrappers which allow writing/reading a byte at a time.

The underlying binaryen implementation would allow this. Need to check wabt/wavm if we can achieve a reduction of overhead here.

[2019-03-25 11:35] chfast opened #509 "Add google benchmark library/tool"

[2019-04-12 19:33] axic opened #514 "Making wabt the default"
Currently binaryen is the default.

@chfast @cdetrio Any objections?

[2019-04-15 09:07] chfast opened #516 "Use new WAVM API"
There is a way to pass user object to wasm in WAVM: https://github.com/WAVM/WAVM/issues/138#issuecomment-483036386.

[2019-04-25 10:12] axic opened #520 "EVMC: use HostContext in EthereumInterface"
See https://github.com/ethereum/evmc/blob/master/include/evmc/evmc.hpp#L160

[2019-04-25 11:17] #514 closed

[2019-04-25 12:58] #485 closed

[2019-04-25 13:55] axic opened #522 "Use EVMC host helpers in test/fuzzing"

[2019-04-25 13:58] axic opened #523 "Build fuzzer on CircleCI"

[2019-04-25 14:05] axic opened #525 "Fix codecov to show wabt"
It broke with #514.

[2019-04-25 17:39] axic opened #526 "Implement bignum system library (subset)"
See https://github.com/ewasm/design/issues/189

It would be useful for benchmarking.

@chfast for this we need to include intx. Can we include it as a cmake project or we need to submodule it?

[2019-04-25 18:09] chfast commented on #526
Probably the best would be to release version 0.1 and add it to Hunter.

[2019-04-25 18:41] axic commented on #526
Is that realistic tomorrow?

[2019-04-25 19:47] chfast commented on #526
Realistic in 8 hours, so I'm not sure about tomorrow.

[2019-04-26 17:50] #520 closed

[2019-04-29 13:24] axic opened #531 "Use EVMC 6.2.1"

[2019-04-29 13:25] axic opened #532 "Add changelog file"

[2019-04-29 14:01] chfast commented on #531
I can handle this one.

[2019-04-29 16:36] #531 closed

[2019-04-30 17:52] axic commented on #459
Given recent progress on Rust bindings for EVMC, this seems to be better suited for https://github.com/ewasm/hera.rs

Closing it here.

[2019-04-30 17:52] #459 closed

[2019-05-04 19:13] cdetrio opened #538 "better error message when contract imports unimplemented host functions"
When trying to import an unimplemented host function using wabt, the only error message is:
[code]

[2019-05-04 21:23] axic commented on #538
Checked `wabt` and I'm not sure it is easy to do this :(

However we could extend chisel to display unknown/invalid symbols.

[2019-05-22 15:54] axic commented on #468
Wabt was added with #479 and #536.

[2019-05-22 16:01] axic commented on #507
Wavm also allows this.

[2019-05-22 16:43] #468 closed

[2019-06-09 19:10] aarlt commented on #169
Is this referring to that debugging should not be enabled/disabled through `HERA_DEBUGGING` anymore? So that debugging is basically always enabled (from the symbols point of view), where only runtime-checks will decide whether something should be done or not? Or is it meant as a third option, e.g. `-DHERA_DEBUGGING=ON` will enable this statically, where something like `-DHERA_DEBUGGING=RUNTIME` wi

[2019-06-09 19:17] aarlt commented on #270
is this about adding an additional `WasmEngine` that will use `V8`?

[2019-06-09 19:28] aarlt commented on #491
is this about implementing parts of `verifyContract` and  `execute` as generic as possible, so that those parts can be reused within different `WasmEngine`'s? Why should this be moved to a helper specifically in `wabt`?

[2019-06-09 20:01] aarlt commented on #538
hmm.. i only looked briefly in the evmc interface, so probably im wrong.. but is there any concept of returning "error messages" (in contrast to simple return codes) back from an evmc implementation? i was also not able to find `geth_evmc_test.go`, so i dont know the full context of this issue..

[2019-06-19 23:43] axic commented on #491
Binaryen/wavm have a much slimmer `verifyContract`, but in wabt it is basically a duplicate of `execute`, hence the goal would be to improve the wabt code.

[2019-06-19 23:43] axic commented on #169
Yep!

Though I would say this isn't a priority right now.

[2019-06-19 23:48] axic commented on #270
Yep!

There is a [wasm-c-api](https://github.com/WebAssembly/wasm-c-api) project underway which seems to be a reasonable prerequisite to this. Otherwise one would need to deal with the large codebase V8 is.

[2019-07-12 04:12] fpcfjf opened #548 "call evmc_load crash"
hera\evmc\lib\loader:（Windows）
evmc_create_fn evmc_load(const char* filename, enum evmc_loader_error_code* error_code)

input:
char *p = (char*)100;//cause crash
enum evmc_loader_error_code* ec;
evmc_load(p,ec);//crash

The reason is that:
evmc_create_fn evmc_load(const char* filename, enum evmc_loader_error_code* error_code)
{
    last_error_msg = NULL;  // Reset last error.
    enum evmc_loader_

[2019-07-15 00:49] axic commented on #548
How do you expect a C API could detect an invalid non-null pointer?

Also this is not specific to Hera, but https://github.com/ethereum/evmc.

I'm closing this because it is not a bug.

[2019-07-15 00:49] #548 closed

[2019-07-17 03:02] fpcfjf commented on #548
thanks,i think so

[2019-08-08 03:09] SunnyPirate commented on #270
Is it still in the plan?

[2019-10-21 04:45] jwasinger opened #551 "(Regression) EVMC fails to validate contract via Sentinel"
Using the genesis provided [here](https://raw.githubusercontent.com/ewasm/testnet/master/ewasm-testnet-geth-config.json) (which is the same as the ewasm testnet genesis for milestone 1), a transaction containing this wast fails to deploy:

[code]

The only output I get from Hera is:
`"Sentinel has failed on contract. It is invalid."`

Maybe this is intended (and the contract is in some way malform

[2019-10-23 09:08] chfast commented on #551
Can this be reproduces with testeth or any other tool? Can you add this as a JSON test to ewasm/tests?

[2019-10-23 10:34] jwasinger commented on #551
I'm not sure.  I don't think it can be tested for unless we want to write unit test cases for hard-coded sentinel contract bytecodes....

If we had more detailed output from the sentinel contract, it would make solving issues like this a lot easier.

[2019-11-04 14:25] jwasinger commented on #551
I built a new version of the sentinel contract from source and tried to test a simple contract deployment.  This bug persists.

My rustc version:
[code]

How to reproduce locally:
https://github.com/jwasinger/ewasm-dev-env/tree/post-milestone-1

[2019-11-05 05:55] jwasinger commented on #551
[code]

My interpretation of this error message is that  wabt fails to load the sentinel contract with a newer version of hera.

[2019-11-06 15:30] axic commented on #551
It seems that an old version of llvm always included a linker custom section and the `milestone1` version of sentinel was probably compiled like that. Source: https://github.com/WebAssembly/wabt/issues/842

Manually dropping all custom sections with chisel's `repack` feature makes it to work with wabt – at least confirmed with `wasm2wat`, which decodes without issues.

[2019-11-06 23:19] axic commented on #538
Yes, but problem we had here is getting specific messages from wabt in the first place.

Hopefully #540 improved it.

[2019-11-07 02:01] jwasinger commented on #551
[code]

^ I get this after updating all components, using a freshly built and chiseled sentinel contract.

[2019-11-13 20:52] aarlt commented on #270
Do we want to integrate [wasm-c-api](https://github.com/WebAssembly/wasm-c-api) ?

[2020-02-07 03:47] kjx98 opened #555 "LRU cache instantiation for speed up"
I've tryed using LRU cache instantiation of wabt, execution of  wasm (fib calc 15) speed up more than 200%.
code at https://github.com/kjx98/hera branch: athena

benchmark code as following:
func BenchmarkCall(b *testing.B) {
	code := wasmCode
	abi, err := abi.JSON(strings.NewReader(definition))
	if err != nil {
		b.Fatal(err)
	}

	cpurchase, err := abi.Pack("FibValue", uint32(15))
	if err != nil

[2020-02-07 03:50] kjx98 commented on #555
benchcmp:
benchmark           old ns/op     new ns/op     delta
BenchmarkCall-4     98168814      34399281      -64.96%

[2020-02-22 12:15] #555 closed

[2020-03-07 16:16] meowsbits opened #556 "./scripts/test.sh fails: the argument for option '--vm' [hera] is invalid"
I ran the script with the `build` argument, and get error: `the argument for option '--vm' is invalid`

[code]

[2020-06-09 13:30] axic opened #557 "Upgrade build-env and re-enable evmc-tester"
See the branch `ci`.

[2020-06-09 14:10] axic commented on #525
This seems to have been fixed some time ago.

[2020-06-09 14:10] #525 closed

[2021-11-28 07:04] Kenun99 opened #570 "Support London hardfork."
Hera currently supports Byzantine EEI only. It should evolve with EEI standard, supporting `CREATE2`, `EXTCODEHAS`, `CHAINID`, `BASEFEE`, `SELFBALANCE`.
( https://github.com/ewasm/design/commit/8946232935822723a4c80bec03eb1b8ecd237d5f)

[2022-02-07 12:41] Kenun99 opened #571 "Now we can generate eWASM smart contracts from EVM bytecode."
I implement an EVM-to-eWASM bytecode translator that can ensure the fidelity of translation. EVM bytecode contracts now can run in eWASM runtime directly. I also use Hera to build a local blockchain and test the eWASM contracts. The results look nice. Check [https://github.com/Kenun99/ethsema](https://github.com/Kenun99/ethsema) for more details.

[2022-09-25 08:29] #571 closed